<h1 mat-dialog-title>Hi, <b>{{data.name}}</b>. This is the <b>help</b> dialog</h1>
<div mat-dialog-content>
    <h1> Overview </h1>
    <ul>
        <li> <b>GeoInfo</b> is application that allows the user to receive helpful data based on the region where they click on the map. </li>
        <li>On each each click, the user should receive a popup notification showing the retrieved latitude and longitude, current data for that point, and geodata address. </li>
        <li>Additionally for each click the user makes, based on the username, the query is stored in AWS services and is retrievable or deletable as the user wishes.</li>
    </ul>
    <h1> Features </h1>
    <h2> Username Login </h2>
    <p> To change the username that you wish to store in the search history, click the Login button the map, which has this appearance: </p>
    <button mat-raised-button color="primary" matTooltip='This button is just for demonstration'> Login </button>
    <h2> User Options</h2>
    <p> To view the user search history, or delete the user search history, click the Options button the map, which has this appearance: </p>
    <button mat-raised-button color="primary" matTooltip='This button is just for demonstration'> Options </button>
    <p> Both options have tooltip hover boxes to further give additional information as needed for each of the options they provide.</p>
    <h2> Known Issues </h2>
    <p> These are known issues with the web application that the developers know about and are fixing</p>
    <ul>
        <li>Due to HTTP call lags, clicks on the map will typically be 'one-click-behind' with the popup message displaying prior click information.
            To fix this issue, simply double click on the intended area you wish to get information from.</li>
    </ul>
    <h2> Potential Additional Features </h2>
    <p> There are a lot of additional extensions that this web application can have, a few potential features have been listed below</p>
    <ul>
            <li>Markers displaying information on the entire World's State Capitals.</li>
            <li>Polygon shading to demonstrate the bounding region of the retrieved geo data.</li>
            <li>Retrieval additional information such as local news based on retrieved city name.</li>
    </ul>
</div>
