
<mat-form-field>
        <input matInput (keyup)="applyFilter(filterValue)"  [(ngModel)]="filterValue" placeholder="Filter table by a specified value">
        <button mat-button *ngIf='filterValue' matSuffix mat-icon-button aria-label="Clear" (click)="clearFilterValue()">
                <mat-icon matTooltip='Clear search'>close</mat-icon>
        </button>
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

<!-- Username Column -->
<ng-container matColumnDef="username">
<th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
<td mat-cell *matCellDef="let element"> {{element.username}} </td>
</ng-container>

<!-- Latitude Column -->
<ng-container matColumnDef="latitude" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
    <td mat-cell *matCellDef="let element"> {{element.lat}} </td>
</ng-container>

<!-- Longitude Column -->
<ng-container matColumnDef="longitude">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
    <td mat-cell *matCellDef="let element"> {{element.lon}} </td>
</ng-container>

<!-- Pid Column -->
<ng-container matColumnDef="pid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> PID </th>
    <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Paging Options  -->
<mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

