.input-width{
    width: 100%
}
// Set tool tip size
::ng-deep .mat-tooltip {
    font-size: 14px;
  }

  .mat-raised-button {
    display: block;            
    width: 100%;
    text-align: center;
  }