<h1 mat-dialog-title>Hi, <b>{{data.name}}</b>. This is the <b>options</b> dialog</h1>
<div mat-dialog-content>
  <p>Choose which action you would like to perform.</p>
  <p>Hover over an option for more information.</p>
  <mat-form-field class="input-width">
    <input matInput placeholder="GET username history" [(ngModel)]="getValue" matTooltip='Enter a username to GET stored searches for that username'> 
    <button mat-button *ngIf='getValue' matSuffix mat-icon-button aria-label="Search" (click)="getLogsByUsername(getValue)">
        <mat-icon matTooltip='Apply search'>search</mat-icon>
    </button>
    <button mat-button *ngIf='getValue' matSuffix mat-icon-button aria-label="Clear" (click)="getValue=''">
        <mat-icon matTooltip='Clear search'>close</mat-icon>
    </button>
</mat-form-field>
<mat-form-field class="input-width">
    <input matInput placeholder="DELETE username history" [(ngModel)]="deleteValue" matTooltip='Enter a username to DELETE stored searches for that username'> 
    <button mat-button *ngIf='deleteValue' matSuffix mat-icon-button aria-label="Search" (click)="deleteLogsByUsername(deleteValue)">
            <mat-icon matTooltip='Apply search'>search</mat-icon>
    </button>    
    <button mat-button *ngIf='deleteValue' matSuffix mat-icon-button aria-label="Clear" (click)="deleteValue=''">
            <mat-icon matTooltip='Clear search'>close</mat-icon>
        </button>
    </mat-form-field>
    <button mat-raised-button color="primary" matTooltip='Links to public S3 file link for user searches' (click)='viewAllLogs()'>View search logs</button>
    <button mat-raised-button color="warn" matTooltip='DELETES ALL stored searches' (click)='deleteAllLogs()'>DELETE ALL SEARCHES</button>
    <button mat-raised-button color="primary" matTooltip='Close dialog box' (click)="onNoClick()">Close dialog</button>
</div>
